# Eu sou o Lider do Projeto
* @T4vinh0h
*.md @T4vinh0h
/docs/** @T4vinh0h

# Lider Back-End
/backend/** @enrique-ss
# Apoio Back-End e TesterQA
/backend/** @LucasMoreira
# Designer e FrontEnd
/frontend/** @Julia_Conceicao


